/* reset styles */
p {
  margin: 0;
}

body {
  /* background-color: #f6f8fc; */
}
.container {
  /* border: 1px solid rgb(177, 176, 176); */
}

.left {
  /* border: 1px solid red; */
  background-color: #f6f8fc;
  padding: 20px;
}

.logo {
  transform: scale(0.6);
  position: relative;
  left: -20px;
}

.compose-email {
  margin: 20px 0;
  display: flex;
  align-items: center;
  width: 150px;
  background-color: #c2e7ff;
  border-radius: 10px;
  padding: 7px 0;
  cursor: pointer;
}
.compose-email img {
  transform: scale(0.5);
}

.compose-email p:hover {
  font-weight: 500;
}

.left-icons {
  list-style-type: none;
  margin: 30px 0 20px 7px;
  padding: 0;
}
.left-icons li {
  font-size: 18px;
  margin: 20px 0;
  padding: 5px 10px;
}

.left-icons li:hover {
  cursor: pointer;
  background-color: #c2e7ff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 500;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 20px 0;
  cursor: pointer;
}

.label:hover {
  background-color: #58a4d7;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.label section {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.label p {
  font-size: 24px;
  margin-right: 30px;
}

.right {
  border: 1px solid rgb(219, 217, 217);
  padding: 10px 20px;
  background-color: #f6f8fc;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 10px 40px;
  background-color: #eaf1fb;
  border: none;
  font-size: 18px;
  outline: none;
  border-radius: 10px;
}

.search-bar img {
  transform: scale(0.5);
  position: absolute;
  left: 3px;
  top: 5px;
}

.login-icons {
  transform: scale(0.6);
}

.bottom .email-types {
  display: flex;
  justify-content: space-between;
}

.email-types a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.5px;
}
