body {
  background-color: #f6f8fc;
}
.container {
  border: 1px solid rgb(177, 176, 176);
}

.top {
  background-color: #f6f8fc;
}

.logo {
  transform: scale(0.6);
  cursor: pointer;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 8px 50px;
  border: none;
  background-color: #eaf1fb;
  outline: none;
  border-radius: 5px;
  width: 80%;
}

.search-icon {
  position: absolute;
  transform: scale(0.5);
  left: 20px;
  top: 3px;
}

.login-icons {
  transform: scale(0.6);
  cursor: pointer;
}
