body {
  background-color: #f6f8fc;
}
.container {
  border: 1px solid rgb(177, 176, 176);
}

.top {
  /* background-color: #f6f8fc; */
}

.logo {
  transform: scale(0.4);
  cursor: pointer;
}

.search-bar {
  position: relative;
}

.search-bar input {
  padding: 8px 50px;
  border: none;
  background-color: #eaf1fb;
  outline: none;
  border-radius: 10px;
  width: 80%;
}

.search-icon {
  position: absolute;
  transform: scale(0.5);
  left: 20px;
  top: 3px;
}

.login-icons {
  transform: scale(0.6);
  cursor: pointer;
}

.middle {
  /* border: 1px solid red; */
  padding: 30px 0;
}

.compose-email {
  position: relative;
  background-color: #c2e7ff;
  border-radius: 10px;
  padding: 17px 0px;
  text-align: center;
  cursor: pointer;
}

.compose-email p {
  font-size: 18px;
  margin: 0;
}

.compose-email img {
  position: absolute;
  transform: scale(0.6);
  top: 8px;
  left: 0;
}

.email-types {
  display: flex;
  justify-content: space-around;
}
